* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
}

#mainWindow {
    display: flex;
    gap: 25px;
}

#gridControls {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    border-color: transparent;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
}

#gridControls > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#gridControls > div > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridControls > p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border-color: transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

#gridColor::-webkit-color-swatch {
    border-color: transparent;
    border-radius: 50%;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-color: transparent;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
}

#gridContainer {
    width: 700px;
    height: 500px;
    border: 2px solid gray;
    display: grid;
    border-radius: 5px;
    

    background: #e0e0e0;
    box-shadow:  20px 20px 5px #bebebe,-20px -20px 60px #ffffff;
}

.gridItem {
    background-color: white;
}